.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.content {
  text-align: center;
  padding: 20px;
  flex: 1;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  background: white;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.bottom-nav a img {
  width: 24px;
  height: 24px;
}

.bottom-nav a.active span {
  color: #00b386;
  font-weight: bold;
}
